@font-face {
  font-family: 'Product Sans';
  src:  url('./Product-Sans-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Product Sans';
  background: url('./icon.png');
}